# This workflow uses actions that are not certified by GitHub.  They are
# provided by a third-party and are governed by separate terms of service,
# privacy policy, and support documentation.
#
# This workflow will install a prebuilt Ruby version, install dependencies, and
# run tests and linters.
name: "Ruby on Rails CI"
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        ports:
          - "5432:5432"
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: oms_api_test
    env:
      RAILS_ENV: test
      DATABASE_URL: "postgres://postgres:postgres@localhost:5432/oms_api_test"  
      
           
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      # Add or replace dependency steps here
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7.1

      - name: Install Gems
        run: |
          bundle install
         
        # Add or replace database setup steps here
      - name: database recreate
        run: |
          RAILS_ENV=test rake db:drop db:create db:migrate
          
      - name: Run tests
        run: RAILS_ENV=test rspec 
           
      - name: Build and Push Image to Dockerhub
        uses: mr-smithers-excellent/docker-build-push@v5
        with: 
          image: azizurehmankhan/postgres-test-app
          tags: v1 ,v2, v3,latest
          registry: docker.io
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}
         
        


